{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Observatorio de Salud Mental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Load Require CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'css/boxicon.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    <!--Grafico-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="{% url 'inicio' %}">
                <i class='bx bxs-home-heart bx-sm text-dark'></i>
                <span class="text-dark h5">Smart</span> <span class="text-primary h5">Mind</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-9 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-6 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'clasificacion' %}">Clasificación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'mapa' %}">Mapa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'noticias' %}">Noticias</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'graficas' %}">Graficas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'suscripcion' %}">Suscribete</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-center d-flex mx-xl-1">
                    
                    <div class="container">
                        <div class="row">
                            <div class="coul-md-12 search">
                                <form method="get">
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12 ">
                                            <input type="text" class="form-control" placeholder="Buscar..." name="Buscar">
                                                <span class="input-group-list">
                                                    <i class="icon icon-search"></i>              
                                                    <button type="submit" class="btn btn-secondary text-white btn rounded-pill rounded-start rounded-end px-lg-3"><i class='bx bx-search bx-sm bx-tada-hover'></i></button>
                                                </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <section class="bg-secondary py-1">
        <div class="container">
            <h2 class="h2 text-white text-center">Clasificación de enfermedades mentales en el Perú</h2>
        </div>
    </section>

    <!-- Start Banner Hero -->
    <section class="bg-light">
        <div class="container py-4">
            <div class="row align-items-center justify-content-between">
                <div class="contact-header col-lg-3">
                    <div id="container"></div>
                </div>
                
                <div class="contact-img col-lg-8 align-items-end col-md-12">
                    <div id="tablaClasificacion"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Hero -->


    <!-- Start Footer -->
    <footer class="bg-secondary pt-2">
        <div class="feature-work container my-4">
            <div class="row d-flex d-flex align-items-center">
                <div class="col-lg-5">
                    <h3 class="feature-work-title h4 light-300 text-white">Smart mind</h3>
                    <h1 class="feature-work-heading h2 py-3 semi-bold-600 text-white">Observatorio</h1>
                     <p class="feature-work-footer light-300 text-white">Para mas novedades ingrese a nuestros grupos de facebook o whatsapp</p>
                    <ul class="list-inline footer-icons light-300">
                        <li class="list-inline-item m-0">
                            <a class="text-white" target="_blank" href="https://www.facebook.com/profile.php?id=100070894209583">
                                <i class='bx bxl-facebook-square bx-md'></i>
                            </a>
                        </li>
                    
                        <li class="list-inline-item m-0">
                            <a class="text-white" target="_blank" href="https://chat.whatsapp.com/K6vzOB77wFN7syhgC7fFQk">
                                <i class='bx bxl-whatsapp-square bx-md'></i>
                            </a>
                        </li>

                    </ul>
                    <h2 class="h4 pb-lg-3 text-white light-300 ">atencion al Cliente</h2>
                    <ul class="list-unstyled text-white light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-white py-1" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-white py-1" href="mailto:lcuevas@unsa.edu.pe">smartmind@gmail.com</a>
                        </li>
                    </ul>
                    
                   
                </div>
                
                <div class="col-lg-6 offset-lg-1 align-left">
                    <div class="row">
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/1.jpg' %}">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/2.jpg' %}">
                        </a>
                    </div>
                    <div class="row pt-4">
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/3.jpg' %}">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/4.jpg' %}">
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="w-100 bg-primary py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center text-light light-300">
                            © Copyright 2021 SmartMind. Todos los derechos reservados.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->


    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Templatemo -->
    <script src="{% static 'js/templatemo.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'js/custom.js' %}"></script>

    <script type="text/javascript">

                        let miTabla = "<table class='table'><thead class = 'thead-light'>";
                        miTabla += "<tr><th scope='col'>No.</th>"+
                                "<th scope='col'>Trastorno mental</th>" +
                                "<th scope='col'>Hombres</th>" +
                                "<th scope='col'>Mujeres</th>" +
                                "<th scope='col'>Total de pacientes</th></tr></thead>";
                        miTabla += "<tbody>";

                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>1</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Violencia familiar/maltrato infantil</th>" +
                                "<th data-title='Hombres' scope='row'> {{violenciaM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{violenciaF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{violenciaM.Atendidos__sum}}+{{violenciaF.Atendidos__sum}})+"</th>" +
                            "</tr>";
                        
                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>2</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Ansiedad</th>" +
                                "<th data-title='Hombres' scope='row'> {{ansiedadM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{ansiedadF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{ansiedadM.Atendidos__sum}}+{{ansiedadF.Atendidos__sum}})+"</th>" +
                            "</tr>";

                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>3</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Transtorno Depresivo</th>" +
                                "<th data-title='Hombres' scope='row'> {{depresionM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{depresionF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{depresionM.Atendidos__sum}}+{{depresionF.Atendidos__sum}})+"</th>" +
                            "</tr>";
                        
                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>4</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Trastorno del comportamiento</th>" +
                                "<th data-title='Hombres' scope='row'> {{comportamientoM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{comportamientoF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{comportamientoM.Atendidos__sum}}+{{comportamientoF.Atendidos__sum}})+"</th>" +
                            "</tr>";
                        
                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>5</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Trastorno de consumo de alcohol</th>" +
                                "<th data-title='Hombres' scope='row'> {{alcoholM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{alcoholF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{alcoholM.Atendidos__sum}}+{{alcoholF.Atendidos__sum}})+"</th>" +
                            "</tr>";

                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>6</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Trastorno de consumo de otras drogas</th>" +
                                "<th data-title='Hombres' scope='row'> {{drogasM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{drogasF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{drogasM.Atendidos__sum}}+{{drogasF.Atendidos__sum}})+"</th>" +
                            "</tr>";
                        
                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>7</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Intento de suicidio</th>" +
                                "<th data-title='Hombres' scope='row'> {{suicidioM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{suicidioF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{suicidioM.Atendidos__sum}}+{{suicidioF.Atendidos__sum}})+"</th>" +
                            "</tr>";
                        
                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>8</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Síndrome y/o trastorno psicótico</th>" +
                                "<th data-title='Hombres' scope='row'> {{psicoM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{psicoF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{psicoM.Atendidos__sum}}+{{psicoF.Atendidos__sum}})+"</th>" +
                            "</tr>";
                        
                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>9</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Trastornos alimentarios (Anorexia, Bulimia)</th>" +
                                "<th data-title='Hombres' scope='row'> {{alimentacionM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{alimentacionF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{alimentacionM.Atendidos__sum}}+{{alimentacionF.Atendidos__sum}})+"</th>" +
                            "</tr>";
                        
                        miTabla += "<tr>"+
                                "<th data-title='No.' scope='row'>10</th>" +
                                "<th data-title='Trastorno mental' scope='row'>Violencia escolar (Bullying)</th>" +
                                "<th data-title='Hombres' scope='row'> {{escolarM.Atendidos__sum}} </th>" +
                                "<th data-title='Mujeres' scope='row'> {{escolarF.Atendidos__sum}} </th>" +
                                "<th data-title='Total de pacientes' scope='row'>"+({{escolarM.Atendidos__sum}}+{{escolarF.Atendidos__sum}})+"</th>" +
                            "</tr>";

                        miTabla += "</tbody></table>";

                        document.getElementById('tablaClasificacion').innerHTML = miTabla;
                    </script>

    <!--Grafico circular-->
    
</body>

</html>