{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Observatorio de Salud Mental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Load Require CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'css/boxicon.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <style>
    .u {
      font-size: 16px;
      text-decoration: underline;
      color: blue;
    }
    
    </style>

</head>

<body>
    <!-- Header -->

    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="{% url 'inicio' %}">
                <i class='bx bxs-home-heart bx-sm text-dark'></i>
                <span class="text-dark h4">Smart</span> <span class="text-primary h4">Mind</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-5 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'clasificacion' %}">Clasificación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'suscripcion' %}">Suscribete</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    
                    <div class="container">
                        <div class="row">
                            <div class="coul-md-12 search">
                                <form method="get">
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12 ">
                                            <input type="text" class="form-control" placeholder="Buscar..." name="Buscar">
                                                <span class="input-group-list">
                                                    <i class="icon icon-search"></i>              
                                                    <button type="submit" class="btn btn-secondary text-white btn rounded-pill rounded-start rounded-end px-lg-3"><i class='bx bx-search bx-sm bx-tada-hover'></i></button>
                                                </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->


    <!-- Start Banner Hero -->
    <section class="bg-light w-100">
        <div class="container">
            <div class="row d-flex align-items-center py-5">
                <div class="col-lg-6 text-start">
                    <h1 class="h2 py-5 text-primary typo-space-line">Sobre Nosotros</h1>
                    <p class="light-300">
                        Nuestro observatorio de Salud mental es una iniciativa de servicio a la comunidad en relación con la información y educación de las enfermedades mentales que anualmente en promedio, el 20.7% de la población mayor de 12 años de edad padece de algún tipo de trastorno mental.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'img/banner-img-02.svg' %}">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Hero -->


    <!-- Start Team Member -->
    <section class="container py-5">
        <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

            <div class="col-lg-3">
                <h2 class="h2 py-5 typo-space-line">¿Quiénes Somos?</h2>
                <p class="text-muted light-300">
                    <b>SmartMind</b>, es un grupo conformado por estudiantes de la Universidad Nacional de San Agustin - Arequipa.
                </p>
            </div>

            <div class="col-lg-9 row">

                <div class="team-member col-md-3">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="{% static 'img/team-1.jpg' %}" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Kevin Yunior Ccorimanya Paucar</li>
                        <u class="u">kccorimanya@unsa.edu.pe</u>
                    </ul>
                </div>
                <div class="team-member col-md-3">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="{% static 'img/team-1.jpg' %}" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Fidel Ronaldo Chavez Carpio</li>
                        <u class="u">fchavezcar@unsa.edu.pe</u>
                    </ul>
                </div>
                <div class="team-member col-md-3">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="{% static 'img/team-2.jpg' %}" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Lizet Milagros Cuevas Mamani</li>
                        <u class="u">lcuevas@unsa.edu.pe</u>
                    </ul>
                </div>
                <div class="team-member col-md-3">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="{% static 'img/team-1.jpg' %}" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Luis Diego Valdivia Turpo</li>
                        <u class="u">lvaldiviatu@unsa.edu.pe</u>
                    </ul>
                </div>
            </div>

        </div>

        <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

            <div class="col-lg-3">
                
            </div>

            <div class="col-lg-9 row">
                <div class="team-member col-md-3">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="{% static 'img/team-1.jpg' %}" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Gilbert Wil Ramos Ticona</li>
                        <u class="u">gramosti@unsa.edu.pe</u>
                    </ul>
                </div>
                <div class="team-member col-md-3">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="{% static 'img/team-2.jpg' %}" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Indira Paola Hancco Zaravia</li>
                        <u class="u">ihancco@unsa.edu.pe</u>
                    </ul>
                </div>
                <div class="team-member col-md-3">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="{% static 'img/team-1.jpg' %}" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Ayrton Robins Garcia Puma</li>
                        <u class="u">agarciapu@unsa.edu.pe</u>
                    </ul>
                </div>
                <div class="team-member col-md-3">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="{% static 'img/team-1.jpg' %}" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Jeremy Jeison Cruz Gallegos</li>
                        <u class="u">jcruzga@unsa.edu.pe</u>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- End Team Member -->

    <!-- Start Our Partner -->
    <section class="bg-secondary py-1">
        <div class="container py-1">
            <h2 class="h2 text-white text-center py-5">Más Información</h2>
            
        </div>
    </section>
    <!--End Our Partner-->

    <!-- Start Choice -->
    <section class="why-us banner-bg bg-light">
        <div class="container my-4">
            <div class="row">
                <div class="banner-img col-lg-5">
                    <img src="{% static 'img/work.svg' %}" class="rounded img-fluid" alt="">
                </div>
                <div class="banner-content col-lg-7 align-self-end">
                    <h2 class="h2 pb-3">¿Por qué necesitamos un observatorio de salud mental?</h2>
                    <p class="text-muted pb-5 light-300">
                    El Observatorio de Salud Mental nos ofrece un extenso conjunto de datos acerca de la asistencia a la salud mental en cada una de las comunidades autónomas. Estos datos no sólo nos permiten conocer la realidad de la asistencia a la salud, sino que nos permiten conocer su evolución y la posibilidad de hacer valoraciones de esta realidad en función de indicadores de calidad asistencial, como la misma Estrategia de Salud Mental establece como objetivo.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Choice -->

    <!-- Start Aim -->
    <section class="banner-bg bg-white py-5">
        <div class="container my-4">
            <div class="row text-center">

                <div class="objective col-lg-3 mt-sm-0 mt-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                        <i class="display-4 bx bxs-bulb text-light"></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Misión</h2>
                    <p class="light-300">
                        Desarrollar un sistema permanente que brinde información válida, actualizada y amigable de los trastornos mentales para el público en general.
                    </p>
                </div>

                <div class="objective col-lg-3 mt-sm-0 mt-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                        <i class='display-4 bx bx-revision text-light'></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Visión</h2>
                    <p class="light-300">
                        Queremos que el observatorio de salud mental se consolide como el principal referente del país en la sistematización de la información y la producción de conocimiento en materia de enfermedades mentales.
                    </p>
                </div>

                
                <div class="objective col-lg-3 mt-sm-0 mt-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                        <i class="display-4 bx bxs-select-multiple text-light"></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Objetivo</h2>
                    <p class="light-300">
                        Facilitar la divulgación de información adecuada acerca de las enfermedades mentales y que esta esté avalada por expertos.
                    </p>
                </div>

                <div class="objective col-lg-3 mt-sm-0 mt-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                        <i class="display-4 bx bxs-bulb text-light"></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Funciones</h2>
                    <p class="light-300">
                        Se recabará información sobre trastornos mentales, también permitirá el análisis de la tendencia y distribución de los indicadores de Salud mental y de sus efectos sobre la salud, la educación y la población general.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- End Aim -->

    <!-- Start Footer -->
    <footer class="bg-secondary pt-2">

        <div class="w-100 bg-primary py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center text-light light-300">
                            © Copyright 2021 SmartMind. Todos los derechos reservados.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->


    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Templatemo -->
    <script src="{% static 'js/templatemo.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>