{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Noticias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Load Require CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'css/boxicon.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="{% url 'inicio' %}">
                <i class='bx bxs-home-heart bx-sm text-dark'></i>
                <span class="text-dark h5">Smart</span> <span class="text-primary h5">Mind</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-9 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-6 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'clasificacion' %}">Clasificación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'mapa' %}">Mapa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'noticias' %}">Noticias</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-2" href="{% url 'suscripcion' %}">Suscribete</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-center d-flex mx-xl-1">
                    
                    <div class="container">
                        <div class="row">
                            <div class="coul-md-12 search">
                                <form method="get">
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12 ">
                                            <input type="text" class="form-control" placeholder="Buscar..." name="Buscar">
                                                <span class="input-group-list">
                                                    <i class="icon icon-search"></i>              
                                                    <button type="submit" class="btn btn-secondary text-white btn rounded-pill rounded-start rounded-end px-lg-3"><i class='bx bx-search bx-sm bx-tada-hover'></i></button>
                                                </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->

    <!-- Start Banner Hero -->
    <div id="work_banner" class="banner-wrapper bg-light w-100 py-5">
        <div class="banner-vertical-center-work container text-dark d-flex justify-content-center align-items-center py-5 p-0">
            <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
                <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center text-white">Noticias Diarias</h1>
                <h2 class="h4 pb-2 regular-400 text-white">Mantente al día con las últimas noticias sobre Salud Mental en el PERÚ </h2>
                
                
            </div>
        </div>
    </div>
    
    <!-- End Banner Hero -->

    <!-- Start Our Work -->
    <section class="container py-5">

        <div class="row projects gx-lg-5">
            {% for noti in noticia %}
            <a href="{{noti.fuente}}" target="_blank" class="col-sm-6 col-lg-4 text-decoration-none project marketing social business">
                <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                    
                    <img class="card-img-top" src="{{noti.imagen}}" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{noti.titulo}}</h5>
                        <p class="card-text light-300 text-dark">
                            {{noti.descripcion}}
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                              Leer mas <i class='bx bxs-hand-right ms-1'></i>
                          </span>
                    </div>
                </div>
            </a> 
            {% endfor %}
            
        </div>
        <div class="row pt-5">
            <div class="btn-toolbar justify-content-center pb-4" role="toolbar" aria-label="Toolbar with button groups">
                {% if noticia.has_previous %}
                <div class="btn-group me-2" role="group" aria-label="First group">
                     <a href="?page={{ noticia.previous_page_number }}">
                         <button type="button" class="btn btn-secondary text-white">Atras</button> </a>
                </div>
                {% endif %}
                
                {% if noticia.has_next %}
                <div class="btn-group" role="group" aria-label="Third group">
                    <a href="?page={{ noticia.next_page_number }}">
                        <button type="button" class="btn btn-secondary text-white">siguiente</button></a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- End Our Work -->

    <footer class="bg-secondary pt-2">
        <div class="feature-work container my-4">
            <div class="row d-flex d-flex align-items-center">
                <div class="col-lg-5">
                    <h3 class="feature-work-title h4 light-300 text-white">Smart mind</h3>
                    <h1 class="feature-work-heading h2 py-3 semi-bold-600 text-white">Observatorio</h1>
                     <p class="feature-work-footer light-300 text-white">Para mas novedades ingrese a nuestros grupos de facebook o whatsapp</p>
                    <ul class="list-inline footer-icons light-300">
                        <li class="list-inline-item m-0">
                            <a class="text-white" target="_blank" href="https://www.facebook.com/profile.php?id=100070894209583">
                                <i class='bx bxl-facebook-square bx-md'></i>
                            </a>
                        </li>
                    
                        <li class="list-inline-item m-0">
                            <a class="text-white" target="_blank" href="https://chat.whatsapp.com/K6vzOB77wFN7syhgC7fFQk">
                                <i class='bx bxl-whatsapp-square bx-md'></i>
                            </a>
                        </li>

                    </ul>
                    <h2 class="h4 pb-lg-3 text-white light-300 ">atencion al Cliente</h2>
                    <ul class="list-unstyled text-white light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-white py-1" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-white py-1" href="mailto:lcuevas@unsa.edu.pe">smartmind@gmail.com</a>
                        </li>
                    </ul>
                    
                   
                </div>
                
                <div class="col-lg-6 offset-lg-1 align-left">
                    <div class="row">
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/1.jpg' %}">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/2.jpg' %}">
                        </a>
                    </div>
                    <div class="row pt-4">
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/3.jpg' %}">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/4.jpg' %}">
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="w-100 bg-primary py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center text-light light-300">
                            © Copyright 2021 SmartMind. Todos los derechos reservados.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Feature Work -->

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Lightbox -->
    <script src="assets/js/fslightbox.js"></script>
    <script>
        fsLightboxInstances['gallery'].props.loadOnlyCurrentSource = true;
    </script>
    <!-- Load jQuery require for isotope -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Isotope -->
    <script src="assets/js/isotope.pkgd.js"></script>
    <!-- Page Script -->
    <script>
        $(window).load(function() {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function() {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });
    </script>
    <!-- End Footer -->


    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Templatemo -->
    <script src="{% static 'js/templatemo.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>