{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Observatorio de Salud Mental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Load Require CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'css/boxicon.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="{% url 'inicio' %}">
                <i class='bx bxs-home-heart bx-sm text-dark'></i>
                <span class="text-dark h5">Smart</span> <span class="text-primary h5">Mind</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-9 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'clasificacion' %}">Clasificación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                            
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'noticias' %}">Noticias</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'suscripcion' %}">Suscribete</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar align-center d-flex mx-xl-1">
                    
                    <div class="container">
                        <div class="row">
                            <div class="coul-md-12 search">
                                <form method="get">
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12 ">
                                            <input type="text" class="form-control" placeholder="Buscar..." name="Buscar">
                                                <span class="input-group-list">
                                                    <i class="icon icon-search"></i>              
                                                    <button type="submit" class="btn btn-secondary text-white btn rounded-pill rounded-start rounded-end px-lg-3"><i class='bx bx-search bx-sm bx-tada-hover'></i></button>
                                                </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->


    <!-- Start Contact -->
    <section class="banner-bg bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  my-4 p-3">
                    
                    <form method="post">
                        {% csrf_token %}
                        <h1 class="h2 text-center">Manténgase al día con nosotros</h1>
                        <p class="text-center light-300">Déjanos tu correo electrónico y nombre para suscribirte. Te avisaremos de las novedades.</p>

                        

                        {% if user.is_authenticated %}
                        <div class="alert alert-success" role="alert">
                            {{user.username}}, gracias por suscribirte!
                        </div>
                        {% else %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                            {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        {% endif %}
                        
                        <div class="input-group py-3">
                            <input name="nombre" type="text" class="form-control form-control-lg rounded-pill" id="Nombre" placeholder="Tu nombre" aria-label="Your Nombre">
                            
                        </div>
                        
                        <div class="input-group py-3">
                            <input name="email" type="text" class="form-control form-control-lg rounded-pill rounded-end" id="Email"  placeholder="Tu correo electrónico" aria-label="Your Email">
                            <button class="btn btn-secondary text-white btn-lg rounded-pill rounded-start px-lg-3" type="submit">Suscribete</button>
                        </div>
                        
                        <hr>
                    </form>


                    <div class="input-group py-3" style="">
                        <div class="gmail">
                            <a href="{% provider_login_url 'google' %}" class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" role="button"><i class='bx bx-user-circle bx-sm'></i> Suscribirse con Google</a>
                        </div>
                    </div>
                </div>
                <div class="contact-img col-lg-6 align-items-end col-md-4">
                    <img src="{% static 'img/banner-img-01.svg' %}">
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact -->


    <!-- Start Footer -->
    <footer class="bg-secondary pt-2">
        <div class="feature-work container my-4">
            <div class="row d-flex d-flex align-items-center">
                <div class="col-lg-5">
                    <h3 class="feature-work-title h4 light-300 text-white">Smart mind</h3>
                    <h1 class="feature-work-heading h2 py-3 semi-bold-600 text-white">Observatorio</h1>
                     <p class="feature-work-footer light-300 text-white">Para mas novedades ingrese a nuestros grupos de facebook o whatsapp</p>
                    <ul class="list-inline footer-icons light-300">
                        <li class="list-inline-item m-0">
                            <a class="text-white" target="_blank" href="https://www.facebook.com/profile.php?id=100070894209583">
                                <i class='bx bxl-facebook-square bx-md'></i>
                            </a>
                        </li>
                    
                        <li class="list-inline-item m-0">
                            <a class="text-white" target="_blank" href="https://chat.whatsapp.com/K6vzOB77wFN7syhgC7fFQk">
                                <i class='bx bxl-whatsapp-square bx-md'></i>
                            </a>
                        </li>

                    </ul>
                    <h2 class="h4 pb-lg-3 text-white light-300 ">atencion al Cliente</h2>
                    <ul class="list-unstyled text-white light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-white py-1" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-white py-1" href="mailto:lcuevas@unsa.edu.pe">smartmind@gmail.com</a>
                        </li>
                    </ul>
                    
                   
                </div>
                
                <div class="col-lg-6 offset-lg-1 align-left">
                    <div class="row">
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/1.jpg' %}">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/2.jpg' %}">
                        </a>
                    </div>
                    <div class="row pt-4">
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/3.jpg' %}">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="">
                            <img class="img-fluid" src="{% static 'img/4.jpg' %}">
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="w-100 bg-primary py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center text-light light-300">
                            © Copyright 2021 SmartMind. Todos los derechos reservados.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->


    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Templatemo -->
    <script src="{% static 'js/templatemo.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>