{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Observatorio de Salud Mental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Load Require CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'css/boxicon.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="{% url 'inicio' %}">
                <i class='bx bxs-home-heart bx-sm text-dark'></i>
                <span class="text-dark h4">Smart</span> <span class="text-primary h4">Mind</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-5 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'clasificacion' %}">Clasificación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'suscripcion' %}">Suscribete</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    
                    <div class="container">
                        <div class="row">
                            <div class="coul-md-12 search">
                                <form method="get">
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12 ">
                                            <input type="text" class="form-control" placeholder="Buscar..." name="Buscar">
                                                <span class="input-group-list">
                                                    <i class="icon icon-search"></i>              
                                                    <button type="submit" class="btn btn-secondary text-white btn rounded-pill rounded-start rounded-end px-lg-3"><i class='bx bx-search bx-sm bx-tada-hover'></i></button>
                                                </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->


    <!-- Start Contact -->
    <section class="banner-bg bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  my-4 p-3">
                    <form action="#" method="get"><h1 class="h2 text-center">Manténgase al día con nosotros</h1>
                    <p class="text-center light-300">Déjanos tu correo electrónico y nombre para suscribirte. Te avisaremos de las novedades.</p>

                    <div class="input-group py-3">
                        <input name="nombre" type="text" class="form-control form-control-lg rounded-pill" id="nombre" placeholder="Tu nombre" aria-label="Your Nombre">
                    </div>
                    
                    <div class="input-group py-3">
                        <input name="email" type="text" class="form-control form-control-lg rounded-pill rounded-end" id="email"  placeholder="Tu correo electrónico" aria-label="Your Email">
                        <button class="btn btn-secondary text-white btn-lg rounded-pill rounded-start px-lg-3" type="submit">Suscribete</button>
                    </div>
                    
                    <hr>
                    </form>
                    <div class="input-group py-3" style="">
                        <div class="gmail">
                            <a href="{% provider_login_url 'google' %}" class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" role="button"><i class='bx bx-user-circle bx-sm text-primary'></i> Suscribirse con Google</a>
                        </div>
                    </div>
                </div>
                <div class="contact-img col-lg-6 align-items-end col-md-4">
                    <img src="{% static 'img/banner-img-01.svg' %}">
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact -->


    <!-- Start Footer -->
    <footer class="bg-secondary pt-2">
        <div class="w-100 bg-primary py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center text-light light-300">
                            © Copyright 2021 SmartMind. Todos los derechos reservados.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->


    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Templatemo -->
    <script src="{% static 'js/templatemo.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>